.img1{
    width: 700px;
    margin-left: 400px;
    position: absolute;

  }
  .done{
    position: absolute;
    height: 48px;
    width: 80px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-left: 700px;
    margin-top: 535px;
  }